/* Fondo general melón */
body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background: #ffd8b1; /* color melón */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

main {
  background: #ffffff; /* fondo blanco */
  width: 700px;
  padding: 24px;
  border-radius: 16px;
  border: 2px solid #e0e0e0;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

/* Imagen */
img {
  width: 100%;
  height: auto;
  border-radius: 12px;
  margin-bottom: 20px;
}

/* Títulos */
h1 {
  margin-top: 0;
  font-size: 2rem;
}

h2 {
  color: #7b1fa2;
  font-size: 1.2rem;
}

/* Preparation Time con fondo rosa */
.preparatión-time {
  background: #ffe4f0; /* rosa suave */
  padding: 12px 16px;
  border-radius: 10px;
  margin: 20px 0;
}

/* Listas */
ul, ol {
  padding-left: 20px;
}

/* Separadores */
hr {
  border: none;
  border-top: 1px solid #eee;
  margin: 24px 0;
}

/* Tabla */
table {
  width: 100%;
  border-collapse: collapse;
}

table td {
  padding: 8px 0;
  border-bottom: 1px solid #eee;
}
table tr:nth-child(even) {
  background: #f9f9f9;
}

/* Créditos */
.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 16px;
  color: #777;
}

.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}
/* agregando fuente */
@font-face {
  font-family: "Outfit-Light";
  src: url("./assets/fonts/outfit/static/Outfit-Light.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "OutfitBold";
  src: url("./assets/fonts/outfit/static/Outfit-Bold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

body {
  font-family: "Outfit-Light", sans-serif;
}
h1{
   font-family: "OutfitBold", sans-serif;
} 
/* 📱 Versión móvil */
@media (max-width: 768px) {

  body {
    padding: 30px;
    display: block;
    
  }

  main {
    width: 100%;
    padding: 16px;
    border-radius: 12px;
  }

  img {
    border-radius: 10px;
  }

  h1 {
    font-size: 26px;
  }

  h2 {
    font-size: 18px;
  }

  p, li {
    font-size: 16px;
    line-height: 1.5;
  }

  table td {
    font-size: 15px;
  }
}



